!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}Frack-Free New York - Wheat Blog
    %meta(name="description" content="Keep New York Hydrofracking-free!")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %img.logo{src: "/nofrack.jpg", alt: "Frack Free New York"}
          .tagline
            Keep NY free of hydrofracking!  Add your content below
      = content
      
      #footer
        %p &copy; 2012 Kingdon Barrett, provided freely under a 
          %a{href: "http://creativecommons.org/licenses/by-sa/3.0/us/"}
             Creative Commons Attribution-ShareAlike 3.0 United States License.
        %p Content and articles are copyrighted to the individual authors. Wheat blog software is free software available at 
          %a{href: "http://github.com/creationix/wheat"}
             Github.com.
        %p Wheat running on node #{process.version}
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :script
      try {
      var pageTracker = _gat._getTracker("UA-12824411-1");
      pageTracker._trackPageview();
      } catch(err) {}
